.center{
    margin: auto;
    width: 50%;
}
.fontMain {
    font-family:Arial, Helvetica, sans-serif;
}

.spacing{
    margin-top: 1rem;
}
#rcorners1 {
    border-radius: 25px;
    background-color: #BEB2C8;
    padding: 20px;
    width: 200px;
    height: 200px;
    text-align: center;
}
button{
    background-color: #faedcd;
    width: auto;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    width: 80px;
}
button:hover{
    background-color: #d4a373;
    cursor:pointer;
}

.uploadMainDiv{
    background-color: #BEB2C8;
    width: 500px;
    height: 500px;
    border-radius: 1rem;
}

p{
    padding: 5px;
    font-style: italic;
    font-size: small;
}

.pad{
    padding: 10px;
}
.indent{
    padding-left: 20%;
    /* align-items: center; */
}
.downPadding{
    padding: 50px;
    
}

/* CSS for navbar buttons
/* Add this CSS to your stylesheet or style block */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #6f432a;
}

.header-buttons {
    display: flex;
    gap: 35px; /* Adjust the gap between buttons as needed */
}

.header-buttons:last-child {
    margin-left: auto; /* Push the last set of buttons to the right by using auto margin */
}

/* Adjust padding and font size for buttons */
.header-buttons button {
    padding: 8px 14px; /* Adjust the padding as needed */
    font-size: 14px; /* Adjust the font size as needed */
    width: auto; /* Set the width to auto to allow natural width based on content */
}

.center {
    margin: auto;
    width: 50%;
}