.center{
    margin: auto;
    width: 50%;
}
.fontMain {
    font-family:Arial, Helvetica, sans-serif;
}

.spacing{
    margin-top: 1rem;
}
#rcorners1 {
    border-radius: 25px;
    background-color: #BEB2C8;
    padding: 20px;
    width: 200px;
    height: 200px;
    text-align: center;
}
.buttonPost{
    background-color: #faedcd;
    width: auto;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    width: 80px;
}
.buttonPost:hover{
    background-color: #d4a373;
    cursor:pointer;
}

.uploadMainDiv{
    background-color: #BEB2C8;
    width: 500px;
    height: 500px;
    border-radius: 1rem;
}

p{
    padding: 5px;
    font-style: italic;
    font-size: small;
}

.pad{
    padding: 10px;
}
.indent{
    padding-left: 20%;
    /* align-items: center; */
}
.downPadding{
    padding: 50px;
}

.mar{
    margin: 50px;
}