<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitsagram</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="fontMain" style="background-color: #D7D6D6;">

    <h1 class="center indent">Your Fitsagram Dashboard</h1>
    <br>

    <div class="center downPadding" id="rcorners1">

        <button class="center pad spacing buttonPost" onclick="redirectFeed()">View Feed</button>
        <br><br>
        <button class="center buttonPost" onclick="redirectUpload()">Create a Post</button>
        <br><br>
        <button class="center buttonPost" onclick="redirectFollowers()">View Followers</button>
        <br><br>
        <button class="center" onclick="redirectProfile()">View Profile</button> 
        <br><br>
        <button class="center buttonPost" onclick="signOut()">Sign Out</button>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function redirectFeed() {
            window.location.href = '/feed';
        }

        function redirectUpload() {
            window.location.href = '/create-post';
        }

        function redirectFollowers() {
            window.location.href = '/followers';
        }

        function signOut() {
            window.location.href = '/logout';  // Redirect to the logout route
        }

        function redirectProfile() {
            window.location.href = '/profile';
        }
    </script>
</body>

</html>
