<!DOCTYPE html>
<html lang="en">

<!-- dashboard.html -->

{% include 'header.html' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Threadsagram - Followers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="fontMain" style="background-color: #faedcd;">

    <h1 class="center indent">Your Threadsagram Followers</h1>
    <br>

    <div class="center downPadding" id="followers-container">
        <h2>Following</h2>
        <ul id="following-list"></ul>
        <br>
        <h2>Followers</h2>
        <ul id="followers-list"></ul>
    </div>

    <br>
    <button class="center" onclick="redirectDashboard()">Back to Dashboard</button>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function redirectFeed() {
            window.location.href = '/feed';
        }

        function redirectUpload() {
            window.location.href = '/create-post';
        }

        function redirectFollowers() {
            window.location.href = '/followers';
        }

        function signOut() {
            // Add logic to sign out the user (e.g., make an API call to the server)
            window.location.href = '/logout';  // Redirect to the logout route
        }
    </script>
    <script>
        window.onload = renderFollowers;

        async function renderFollowers() {
            try {
                const response = await fetch('/get_followers');
                const followersData = await response.json();

                const followingList = document.getElementById('following-list');
                const followersList = document.getElementById('followers-list');

                followersData.following.forEach(user => {
                    const listItem = document.createElement('li');
                    listItem.textContent = user.username;
                    followingList.appendChild(listItem);
                });

                followersData.followers.forEach(user => {
                    const listItem = document.createElement('li');
                    listItem.textContent = user.username;
                    followersList.appendChild(listItem);
                });
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function redirectDashboard() {
            window.location.href = '/dashboard';
        }
    </script>
</body>

</html>
