<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login | Fitsagram</title>
    <!-- <link rel="stylesheet" href="/Lab 6/static/css/styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body class=" fontMain">

  <div class="center" id="rcorners1" >
    <h2>Welcome to Fitsagram</h2>
    <input id="inputUsername" placeholder="Username" />

    <input id="inputPassword" class="spacing" placeholder="Password" />

    <button id="signupBtn" class="spacing" onclick="signup()">Sign up</button>
    <button id="loginBtn" class="spacing" onclick="login()">Log in</button>

  </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</body>

</html>
