<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        
    </style>
    <title>Create Post</title>
</head>
<body class="fontMain " style="background-color: #faedcd;">
    <div class="center uploadMainDiv">
        <h1 class="pad">Create a New Post</h1>

    <form id="postForm" class="pad" method="POST" action="/create_post" enctype="multipart/form-data">
        <label for="picture">Picture:</label>
        <input type="file" name="picture" accept=".jpg, .jpeg, .png">
        <br />
        <label style="width: 100px; height: 100px;" for="content">Caption:</label>
        <textarea name="content" required></textarea>
        <br />
        
        <br />
        <br />
        <button class="" type="submit" onclick="uploadPost()">Create Post</button>
    </form>
    </div>
    

</body>
</html>
