<!DOCTYPE html>
<html lang="en">

<!-- dashboard.html -->

{% include 'header.html' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        
    </style>
    <title>Create Post</title>
</head>

<body class="fontMain " style="background-color: #faedcd;">
    <div class="center uploadMainDiv">
        <h1 class="pad">Create a New Post</h1>
        <p class="pad">Tip: Best size is 200px x 200px</p>
        
        <form id="postForm" class="pad" method="POST" action="/create_post" enctype="multipart/form-data">
            <label for="picture">Picture:</label>
            <input type="file" name="picture" accept=".jpg, .jpeg, .png">
            <br />
            <label style="width: 100px; height: 100px;" for="content">Caption:</label>
            <textarea name="content" required></textarea>
            <br />
            
            <br />
            <br />
            <button class="" type="submit" onclick="uploadPost()">Create Post</button>
            
        </form>
        
    </div>
    <script>
        function redirectFeed() {
            window.location.href = '/feed';
        }

        function redirectUpload() {
            window.location.href = '/create-post';
        }

        function redirectFollowers() {
            window.location.href = '/followers';
        }

        function signOut() {
            // Add logic to sign out the user (e.g., make an API call to the server)
            window.location.href = '/logout';  // Redirect to the logout route
        }
    </script>

    <script>
        function redirectDashboard() {
            window.location.href = '/dashboard';
        }
    </script>
</body>
</html>
